* {
    margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  flex-direction: column;
  display: table;
  width: 100%;
  height: 100%;
  background-color: #2c2b2b;
  /* Background color */
  color: #f2f2f2;
  /* Text color */
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
}

.section-header {
    border-radius: 2em;
    box-shadow: 2px 2px 1px #3f3f3f;
    background-color: #6e6a7e;
    border: 2px solid rgb(39, 39, 39);
    padding: 0.5em;
    width: fit-content
}

.section-body {
    background-color: #37353E;
    height: fit-content;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 2px 2px 1px #292929;
}

.content-wrapper {
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.about-me {
    display: flex;
    justify-content: center;
    column-gap: 4em;
}

.statement {
    max-width: 50%;
}

.about-me img {
    border-radius: 2em;
    border: 5px solid white;
    width: 400px;
    height: auto;
}

.segment {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    gap: 0.5em;
}

.artifact-segment {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}

